*{
    margin: 0;
    padding: 0;
}
#navigation{
  background-image: linear-gradient(dodgerblue, rgb(2, 64, 126));
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navigation > ul > li{
    list-style: none;
    margin: 0px 5px;
    margin-left: -4px;

}
#navigation > ul{
    display: flex;
    margin-right: 50px;
    padding: 15px 0px;
}
#navigation > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-right: 1px solid white;
    padding: 16px 20px;
    transition: 0.5s;
}
#navigation > ul > li:first-child > a{
    border-left: 1px solid white;
}
#navigation > ul > li:hover > a{
    background-color: rgb(5, 75, 145);
}    
.logo > h2{
    color: white;
    margin-left: 50px;

}
.lagoFirstLetter{
    color: yellow;
    font-size: 30px;
}
/* dropdown menu code start */
.dropdownMenu{
    opacity: 0;
    visibility: hidden;
    background-color: dodgerblue;
    text-align: center;
    margin-top: 15px;
    width: 190px;
    position: absolute;
    transition: 0.5s;
    box-shadow: 10px 10px 8px black;
    transform: scaleY(0);
    transform-origin: top center;
}
.dropdownMenu > li{
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid white;
}
.dropdownMenu > li:hover{
    background-color: brown;
}
.dropdownMenu > li:first-child{
    border-top: 1px solid white;
}

.dropdownMenu > li > a{
    text-decoration: none;
    color: white;
}
#navigation > ul > li:hover > .dropdownMenu{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

 /*hero area code start hare */
 #main-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.212)), url('image/laptop.avif');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 90vh;
 }
 .header-container{
    padding-top: 60px;
 }

 .header-container > h1{
    width: 500px;
    margin: 20px auto;
    background-color: rgba(2, 44, 87, 0.842);
    font-size: 45px;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
 }
 .header-container > button{
    font-size: 22px;
    padding: 15px 25px;
    margin-top: 20px;
    background-color: hsl(210, 96%, 21%);
    color: white;
    border-radius: 30px 10px 30px 10px ;
    border: 4px solid green;
    cursor: pointer;
    transition: 0.5s;
 }
 .header-container > button:hover{
    background-color: rgba(0, 0, 0, 0.37);
 }
 
.header-container > h4{
    font-size: 27px;
    color: rgb(0, 0, 0);
} 

.header-container > h5{
    font-size: 25px;
    color: white;
    margin-bottom: 50px;
}
.socialIcon > a{
    color: white;
    text-decoration: none;
    

}
.socialIcon > a > i{
    width: 50px;
    height: 50px;
    line-height: 1.6;
    margin: 10px 5px;
    font-size: 30px;
    background-color: rgba(0, 128, 0, 0.026);
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.5s;
}
.socialIcon > a > i:hover{
    background-color: rgb(3, 45, 88);
    border: 2px solid green;
    transform: rotate(360deg);
}


/* first section code start hare */
#first-section{
    background-color: lightgray;
}

#first-container{
    width: 1000px;
    margin: auto;
    
    
    display: flex;
    justify-content: space-between;
    padding: 100px 0;

}
.learn-programming{
    width: 300px;
    text-align: center;
    padding: 30px 10px;
    transition: 0.5s;
}
.learn-programming > i{
    font-size: 50px;
}
.learn-programming > h2{
    margin: 15px 0;
}
.learn-programming:hover{
    box-shadow: 3px 3px 10px gray;

}


/* second section code start hare */

.smartArea-title > h2{
    font-size: 40px;
    text-align: center;
    position: relative;
}
.smartArea-title > h2::after{
    content:'';
    top: 56px;
    left: 610px;
    width: 100px;
    height: 5px;
    background-color: brown;
    position: absolute;
}
.smart-area{
    width: 1000px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.smart-area-text{
    width: 500px;
}
.smart-area-text > h2{
    margin: 20px 0;
}
.smart-area-text > h4{
    color:brown;
}
.smart-area-text > a{
    text-decoration: none;
    background-color: brown;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin: 20px 0;
    display: inline-block;
    transition: 0.5;
}
.smart-area-text > a:hover{
    background-color: rgb(51, 4, 4);

}

/* Third section code here */
.services-area- title{
    text-align: center;
}






